canvas {
  background-color: rgb(99, 99, 221);
}

.videos {
  background-color: rgb(68, 68, 68);
}
.video {
  background-color: rgb(22, 22, 75);
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 5px;
}
