* {
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: 50px auto 200px;
  gap: 1px 1px;
}

.ConnectionPanel {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row: 1/1;
  grid-column: 1/3;
}

.InitiatorPanel {
  width: 100%;
  grid-column: span 2;
  align-content: center;
}

#mainDrawArea {
  background-color: rgb(99, 99, 221);
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1000;
}

.videos {
  grid-row: 2/3;
  grid-column: 2/-1;
}

.video {
  background-color: rgb(22, 22, 75);
  width: 128px;
  height: 128px;
  margin-bottom: 5px;
}

.video:last-child {
  margin-bottom: 0px;
}

.textchat {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 1;
  position: relative;
}

.textchat textarea {
  background:rgb(231, 230, 230);
  color: black;
  font-size: 1.5em;
  width: 100%;
  resize: none;
}

.ouradr {
  width: 100px;
}

.ouradr:hover {
  width: 100%;
}

.InitiatorPanel .callBtn {
  font-size: 1cm;
  grid-column: 2/-1;
}

.cpyBtn {
  font-size: 1.5em;
  grid-column: 2/-1;
}